@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Viga&display=swap');
body {
    font-family: 'M PLUS Rounded 1c';
    background-color: #ddd;
}

.card {
    background: linear-gradient(35deg, #e7e7e7 0%, white 100%);
    border: 1px solid #eee;
    border-radius: 13px;
    margin: 15px;
    width: 100px;
    height: 150px;
    display: inline-block;
    position: relative;
    color: #138;
    box-shadow: 3px 3px 8px 2px #0002, 1px 1px 2px 1px #1234;
}

.card[symbol="♦"],
.card[symbol="♥"] {
    color: #d02;
}

.card[symbol="♦"],
.card[symbol="♥"],
.card[symbol="♠"],
.card[symbol="♣"] {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 12px;
}

.card-corner {
    margin: 5px;
    font-family: viga;
    text-align: center;
    line-height: 12px;
    position: absolute;
}

.top-left {
    top: 0px;
    left: 0px;
}

.bottom-right {
    right: 0px;
    bottom: 0px;
    transform: rotate(0.5turn);
}

.symbols {
    position: relative;
    height: 100%;
}

.symbols div {
    position: absolute;
    font-size: 24px;
}


/* Center-X */

.card[number="2"] .symbols div,
.card[number="3"] .symbols div,
.card[number="5"] .symbols div:nth-child(5),
.card[number="7"] .symbols div:nth-child(7),
.card[number="8"] .symbols div:nth-child(7),
.card[number="8"] .symbols div:nth-child(8),
.card[number="9"] .symbols div:nth-child(9),
.card[number="10"] .symbols div:nth-child(9),
.card[number="10"] .symbols div:nth-child(10) {
    left: 50%;
    transform: translateX(-50%);
}


/* Center-Y*/

.card[number="3"] .symbols div:nth-child(2),
.card[number="5"] .symbols div:nth-child(5),
.card[number="6"] .symbols div:nth-child(2),
.card[number="6"] .symbols div:nth-child(5),
.card[number="7"] .symbols div:nth-child(2),
.card[number="7"] .symbols div:nth-child(5),
.card[number="8"] .symbols div:nth-child(2),
.card[number="8"] .symbols div:nth-child(5),
.card[number="9"] .symbols div:nth-child(9) {
    top: 58px;
}


/* Center-Y2*/

.card[number="7"] .symbols div:nth-child(7),
.card[number="8"] .symbols div:nth-child(7) {
    top: 38px;
}

.card[number="8"] .symbols div:nth-child(8) {
    bottom: 38px;
    transform: translateX(-50%) rotate(180deg);
}

.card[number="10"] .symbols div:nth-child(10) {
    top: 33px;
}

.card[number="10"] .symbols div:nth-child(9) {
    bottom: 33px;
    transform: translateX(-50%) rotate(180deg)
}

.card[number="9"] .symbols div:nth-child(2),
.card[number="9"] .symbols div:nth-child(6),
.card[number="10"] .symbols div:nth-child(2),
.card[number="10"] .symbols div:nth-child(6) {
    top: 45px;
}

.card[number="9"] .symbols div:nth-child(3),
.card[number="9"] .symbols div:nth-child(7),
.card[number="10"] .symbols div:nth-child(3),
.card[number="10"] .symbols div:nth-child(7) {
    bottom: 45px;
    transform: rotate(180deg)
}


/* === top-Y === */

.card[number="2"] .symbols div:nth-child(1),
.card[number="3"] .symbols div:nth-child(1),
.card[number="4"] .symbols div:nth-child(1),
.card[number="4"] .symbols div:nth-child(3),
.card[number="5"] .symbols div:nth-child(1),
.card[number="5"] .symbols div:nth-child(3),
.card[number="6"] .symbols div:nth-child(1),
.card[number="6"] .symbols div:nth-child(4),
.card[number="7"] .symbols div:nth-child(1),
.card[number="7"] .symbols div:nth-child(4),
.card[number="8"] .symbols div:nth-child(1),
.card[number="8"] .symbols div:nth-child(4),
.card[number="9"] .symbols div:nth-child(1),
.card[number="9"] .symbols div:nth-child(5),
.card[number="10"] .symbols div:nth-child(1),
.card[number="10"] .symbols div:nth-child(5) {
    top: 20px;
}


/* === Bottom-Y === */

.card[number="4"] .symbols div:nth-child(2),
.card[number="4"] .symbols div:nth-child(4),
.card[number="5"] .symbols div:nth-child(2),
.card[number="5"] .symbols div:nth-child(4),
.card[number="6"] .symbols div:nth-child(3),
.card[number="6"] .symbols div:nth-child(6),
.card[number="7"] .symbols div:nth-child(3),
.card[number="7"] .symbols div:nth-child(6),
.card[number="8"] .symbols div:nth-child(3),
.card[number="8"] .symbols div:nth-child(6),
.card[number="9"] .symbols div:nth-child(4),
.card[number="9"] .symbols div:nth-child(8),
.card[number="10"] .symbols div:nth-child(4),
.card[number="10"] .symbols div:nth-child(8) {
    bottom: 20px;
    transform: rotate(180deg);
}

.card[number="2"] .symbols div:nth-child(2),
.card[number="3"] .symbols div:nth-child(3) {
    bottom: 20px;
    transform: translateX(-50%) rotate(180deg)
}


/* === Left-X === */

.card[number="4"] .symbols div:nth-child(1),
.card[number="4"] .symbols div:nth-child(2),
.card[number="5"] .symbols div:nth-child(1),
.card[number="5"] .symbols div:nth-child(2),
.card[number="6"] .symbols div:nth-child(1),
.card[number="6"] .symbols div:nth-child(2),
.card[number="6"] .symbols div:nth-child(3),
.card[number="7"] .symbols div:nth-child(1),
.card[number="7"] .symbols div:nth-child(2),
.card[number="7"] .symbols div:nth-child(3),
.card[number="8"] .symbols div:nth-child(1),
.card[number="8"] .symbols div:nth-child(2),
.card[number="8"] .symbols div:nth-child(3),
.card[number="9"] .symbols div:nth-child(1),
.card[number="9"] .symbols div:nth-child(2),
.card[number="9"] .symbols div:nth-child(3),
.card[number="9"] .symbols div:nth-child(4),
.card[number="10"] .symbols div:nth-child(1),
.card[number="10"] .symbols div:nth-child(2),
.card[number="10"] .symbols div:nth-child(3),
.card[number="10"] .symbols div:nth-child(4) {
    left: 18px;
}


/* === Right-X === */

.card[number="4"] .symbols div:nth-child(3),
.card[number="4"] .symbols div:nth-child(4),
.card[number="5"] .symbols div:nth-child(3),
.card[number="5"] .symbols div:nth-child(4),
.card[number="6"] .symbols div:nth-child(4),
.card[number="6"] .symbols div:nth-child(5),
.card[number="6"] .symbols div:nth-child(6),
.card[number="7"] .symbols div:nth-child(4),
.card[number="7"] .symbols div:nth-child(5),
.card[number="7"] .symbols div:nth-child(6),
.card[number="8"] .symbols div:nth-child(4),
.card[number="8"] .symbols div:nth-child(5),
.card[number="8"] .symbols div:nth-child(6),
.card[number="9"] .symbols div:nth-child(5),
.card[number="9"] .symbols div:nth-child(6),
.card[number="9"] .symbols div:nth-child(7),
.card[number="9"] .symbols div:nth-child(8),
.card[number="10"] .symbols div:nth-child(5),
.card[number="10"] .symbols div:nth-child(6),
.card[number="10"] .symbols div:nth-child(7),
.card[number="10"] .symbols div:nth-child(8) {
    right: 18px;
}