@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Viga&display=swap');
body {
    width: 50vw;
    font-family: 'M PLUS Rounded 1c';
    background-color: #ddd;
    padding: 0 25vw;
}

.card {
    transition: transform 1s ease-out;
    cursor: pointer;
    user-select: none;
    margin: 15px;
    display: inline-block;
    position: relative;
    color: #138;
}

.card .container {
    width: 100px;
    height: 150px;
    transform-origin: center left;
    background: linear-gradient(35deg, #e7e7e7 0%, white 100%);
    border: 1px solid #eee;
    border-radius: 13px;
    box-shadow: 3px 3px 8px 2px #0002, 1px 1px 2px 1px #1234;
}

.symbols+.card-corner {
    bottom: 0;
    right: 0;
    text-align: left;
    transform: rotate(180deg);
}

.card.flipped .container {
    transition: transform 1s ease-out;
    transform-origin: 50px 50px;
    transform: rotateY(0.5turn);
    backface-visibility: hidden;
}

.flipped {
    transform: rotateY(0.5turn);
    transform-origin: 50px 50px;
    transition: transform 1s ease-out;
    border-radius: 13px;
    background: url('/images/cards-back.png');
    background-position: -10px -10px;
    background-size: 120px;
    background-repeat: no-repeat;
}

.card[symbol="♦"],
.card[symbol="♥"] {
    color: #d02;
}

.card[symbol="♦"],
.card[symbol="♥"],
.card[symbol="♠"],
.card[symbol="♣"] {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 12px;
}

.card-corner {
    margin: 5px;
    font-family: viga;
    text-align: center;
    line-height: 12px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.symbols {
    position: relative;
    height: 100%;
}

.symbols div {
    position: absolute;
    font-size: 24px;
}

.card[number="A"] .symbols div {
    width: 100px;
    height: 150px;
    font-size: 60px;
    top: 30px;
}

.card[number="J"].card[symbol="♦"] .container .front {
    width: 100px;
    height: 150px;
    background: url('/images/cards-front.png');
    background-position: -5px -3px;
    background-size: 410px;
    background-repeat: no-repeat;
}

.card[number="J"].card[symbol="♥"] .container .front {
    width: 100px;
    height: 150px;
    background: url('/images/cards-front.png');
    background-position: -105px -3px;
    background-size: 410px;
    background-repeat: no-repeat;
}

.card[number="J"].card[symbol="♠"] .container .front {
    width: 100px;
    height: 150px;
    background: url('/images/cards-front.png');
    background-position: -205px -3px;
    background-size: 410px;
    background-repeat: no-repeat;
}


/* ♦ ♥ ♠ ♣ */

.card[number="J"].card[symbol="♣"] .container .front {
    width: 100px;
    height: 150px;
    background: url('/images/cards-front.png');
    background-position: -305px -3px;
    background-size: 410px;
    background-repeat: no-repeat;
}

.card[number="Q"].card[symbol="♦"] .container .front {
    width: 100px;
    height: 150px;
    background: url('/images/cards-front.png');
    background-position: -5px -147px;
    background-size: 410px;
    background-repeat: no-repeat;
}

.card[number="Q"].card[symbol="♥"] .container .front {
    width: 100px;
    height: 150px;
    background: url('/images/cards-front.png');
    background-position: -105px -147px;
    background-size: 410px;
    background-repeat: no-repeat;
}

.card[number="Q"].card[symbol="♠"] .container .front {
    width: 100px;
    height: 150px;
    background: url('/images/cards-front.png');
    background-position: -205px -147px;
    background-size: 410px;
    background-repeat: no-repeat;
}


/* ♦ ♥ ♠ ♣ */

.card[number="Q"].card[symbol="♣"] .container .front {
    width: 100px;
    height: 150px;
    background: url('/images/cards-front.png');
    background-position: -305px -147px;
    background-size: 410px;
    background-repeat: no-repeat;
}

.card[number="K"].card[symbol="♦"] .container .front {
    width: 100px;
    height: 150px;
    background: url('/images/cards-front.png');
    background-position: -5px -295px;
    background-size: 410px;
    background-repeat: no-repeat;
}

.card[number="K"].card[symbol="♥"] .container .front {
    width: 100px;
    height: 150px;
    background: url('/images/cards-front.png');
    background-position: -105px -295px;
    background-size: 410px;
    background-repeat: no-repeat;
}

.card[number="K"].card[symbol="♠"] .container .front {
    width: 100px;
    height: 150px;
    background: url('/images/cards-front.png');
    background-position: -205px -295px;
    background-size: 410px;
    background-repeat: no-repeat;
}


/* ♦ ♥ ♠ ♣ */

.card[number="K"].card[symbol="♣"] .container .front {
    width: 100px;
    height: 150px;
    background: url('/images/cards-front.png');
    background-position: -305px -295px;
    background-size: 410px;
    background-repeat: no-repeat;
}


/* Center-X */

.card[number="A"] .symbols div,
.card[number="2"] .symbols div,
.card[number="3"] .symbols div,
.card[number="5"] .symbols div:nth-child(5),
.card[number="7"] .symbols div:nth-child(7),
.card[number="8"] .symbols div:nth-child(7),
.card[number="8"] .symbols div:nth-child(8),
.card[number="9"] .symbols div:nth-child(9),
.card[number="10"] .symbols div:nth-child(9),
.card[number="10"] .symbols div:nth-child(10) {
    left: 50%;
    transform: translateX(-50%);
}


/* Center-Y*/

.card[number="3"] .symbols div:nth-child(2),
.card[number="5"] .symbols div:nth-child(5),
.card[number="6"] .symbols div:nth-child(2),
.card[number="6"] .symbols div:nth-child(5),
.card[number="7"] .symbols div:nth-child(2),
.card[number="7"] .symbols div:nth-child(5),
.card[number="8"] .symbols div:nth-child(2),
.card[number="8"] .symbols div:nth-child(5),
.card[number="9"] .symbols div:nth-child(9) {
    top: 58px;
}


/* Center-Y2*/

.card[number="7"] .symbols div:nth-child(7),
.card[number="8"] .symbols div:nth-child(7) {
    top: 38px;
}

.card[number="8"] .symbols div:nth-child(8) {
    bottom: 38px;
    transform: translateX(-50%) translateY(150px) rotate(180deg);
}

.card[number="10"] .symbols div:nth-child(9) {
    bottom: 33px;
    transform: translateX(-50%) translateY(150px) rotate(180deg)
}

.card[number="10"] .symbols div:nth-child(10) {
    top: 33px;
}

.card[number="9"] .symbols div:nth-child(2),
.card[number="9"] .symbols div:nth-child(6),
.card[number="10"] .symbols div:nth-child(2),
.card[number="10"] .symbols div:nth-child(6) {
    top: 45px;
}

.card[number="9"] .symbols div:nth-child(3),
.card[number="9"] .symbols div:nth-child(7),
.card[number="10"] .symbols div:nth-child(3),
.card[number="10"] .symbols div:nth-child(7) {
    bottom: 45px;
    transform: rotate(180deg) translateY(-150px);
}


/* === top-Y === */

.card[number="2"] .symbols div:nth-child(1),
.card[number="3"] .symbols div:nth-child(1),
.card[number="4"] .symbols div:nth-child(1),
.card[number="4"] .symbols div:nth-child(3),
.card[number="5"] .symbols div:nth-child(1),
.card[number="5"] .symbols div:nth-child(3),
.card[number="6"] .symbols div:nth-child(1),
.card[number="6"] .symbols div:nth-child(4),
.card[number="7"] .symbols div:nth-child(1),
.card[number="7"] .symbols div:nth-child(4),
.card[number="8"] .symbols div:nth-child(1),
.card[number="8"] .symbols div:nth-child(4),
.card[number="9"] .symbols div:nth-child(1),
.card[number="9"] .symbols div:nth-child(5),
.card[number="10"] .symbols div:nth-child(1),
.card[number="10"] .symbols div:nth-child(5) {
    top: 20px;
}


/* === Bottom-Y === */

.card[number="4"] .symbols div:nth-child(2),
.card[number="4"] .symbols div:nth-child(4),
.card[number="5"] .symbols div:nth-child(2),
.card[number="5"] .symbols div:nth-child(4),
.card[number="6"] .symbols div:nth-child(3),
.card[number="6"] .symbols div:nth-child(6),
.card[number="7"] .symbols div:nth-child(3),
.card[number="7"] .symbols div:nth-child(6),
.card[number="8"] .symbols div:nth-child(3),
.card[number="8"] .symbols div:nth-child(6),
.card[number="9"] .symbols div:nth-child(4),
.card[number="9"] .symbols div:nth-child(8),
.card[number="10"] .symbols div:nth-child(4),
.card[number="10"] .symbols div:nth-child(8) {
    bottom: 20px;
    transform: rotate(180deg) translateY(-150px);
}

.card[number="2"] .symbols div:nth-child(2),
.card[number="3"] .symbols div:nth-child(3) {
    bottom: 20px;
    transform: translateX(-50%) rotate(180deg) translateY(-150px)
}


/* === Left-X === */

.card[number="4"] .symbols div:nth-child(1),
.card[number="4"] .symbols div:nth-child(2),
.card[number="5"] .symbols div:nth-child(1),
.card[number="5"] .symbols div:nth-child(2),
.card[number="6"] .symbols div:nth-child(1),
.card[number="6"] .symbols div:nth-child(2),
.card[number="6"] .symbols div:nth-child(3),
.card[number="7"] .symbols div:nth-child(1),
.card[number="7"] .symbols div:nth-child(2),
.card[number="7"] .symbols div:nth-child(3),
.card[number="8"] .symbols div:nth-child(1),
.card[number="8"] .symbols div:nth-child(2),
.card[number="8"] .symbols div:nth-child(3),
.card[number="9"] .symbols div:nth-child(1),
.card[number="9"] .symbols div:nth-child(2),
.card[number="9"] .symbols div:nth-child(3),
.card[number="9"] .symbols div:nth-child(4),
.card[number="10"] .symbols div:nth-child(1),
.card[number="10"] .symbols div:nth-child(2),
.card[number="10"] .symbols div:nth-child(3),
.card[number="10"] .symbols div:nth-child(4) {
    left: 18px;
}


/* === Right-X === */

.card[number="4"] .symbols div:nth-child(3),
.card[number="4"] .symbols div:nth-child(4),
.card[number="5"] .symbols div:nth-child(3),
.card[number="5"] .symbols div:nth-child(4),
.card[number="6"] .symbols div:nth-child(4),
.card[number="6"] .symbols div:nth-child(5),
.card[number="6"] .symbols div:nth-child(6),
.card[number="7"] .symbols div:nth-child(4),
.card[number="7"] .symbols div:nth-child(5),
.card[number="7"] .symbols div:nth-child(6),
.card[number="8"] .symbols div:nth-child(4),
.card[number="8"] .symbols div:nth-child(5),
.card[number="8"] .symbols div:nth-child(6),
.card[number="9"] .symbols div:nth-child(5),
.card[number="9"] .symbols div:nth-child(6),
.card[number="9"] .symbols div:nth-child(7),
.card[number="9"] .symbols div:nth-child(8),
.card[number="10"] .symbols div:nth-child(5),
.card[number="10"] .symbols div:nth-child(6),
.card[number="10"] .symbols div:nth-child(7),
.card[number="10"] .symbols div:nth-child(8) {
    right: 18px;
}